* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: yellowgreen;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    padding: 20px 50px;
}

.nav a {
    color: rgb(9, 9, 9);
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: bold;

}

.nav a:hover {
    color: black;
}

.nava {
    justify-content: left;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;



}

nav ul li {
    margin-left: 30px;
}

nav ul li:first-child {
    margin-left: 0;
}



nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

nav ul li a:hover {
    color: #4CAF50;
}

#marketplace h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.product-card {
    width: 300px;
    height: 400px;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
}

.product-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.product-card p {
    font-size: 16px;
    margin-bottom: 20px;
}

.buy-now-button {
    background-color: #4CAF50;
    color: #ffffff;
    font-size: 18px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.buy-now-button:hover {
    background-color: #3e8e41;
}

.cart {
    position: relative;
    display: inline-block;
}

.cart i {
    font-size: 1.5em;
    color: black;
}

.cart .cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    background-color: red;
    color: white;
    text-align: center;
    border-radius: 50%;
    font-size: 0.8em;
    line-height: 20px;
}